node_modules
.DS_Store
.env
dist
dist-ssr
*.local
*.bkp
.idea/
public/config.json
backend/synapse_tmp/*
backend/synapse_tmp_othersite/*
/coverage
config.json

# Yarn
yarn-error.log
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
/.links.yaml
/.links.disabled.yaml
/.links.temp-disabled.yaml

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
