# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore local gradle properties file
local.properties

# Also ignore the generated assets for Android
lib/src/main/assets
