.container {
  padding: 0.5em;
  z-index: 2;
  display: flex;
}
.dataContainer {
  background-color: var(--cpd-color-bg-canvas-default);
  border-radius: 10px;
  overflow: auto;
  width: 500px;
}
.hideButton {
  background: none;
  border: none;
}
.memberContainer {
  background-color: var(--cpd-color-bg-subtle-secondary);
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.5em;
}

.encryptionEventContainer {
  background-color: var(--cpd-color-bg-subtle-secondary);
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.5em;
}
