.caption {
  font-size: var(--font-size-caption);
  line-height: var(--font-size-body);
}

.micro {
  font-size: var(--font-size-micro);
  line-height: var(--font-size-caption);
}

.regular {
  font-weight: 400;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.link {
  color: var(--links);
}

.link:hover {
  text-decoration: underline;
  opacity: initial;
}

.primary {
  color: var(--accent);
}

.overflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
