/*
Copyright 2022-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only
Please see LICENSE in the repository root for full details.
*/

.caption {
  font-size: var(--font-size-caption);
  line-height: var(--font-size-body);
}

.micro {
  font-size: var(--font-size-micro);
  line-height: var(--font-size-caption);
}

.regular {
  font-weight: 400;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.link {
  color: var(--cpd-color-text-link-external);
}

.link:hover {
  text-decoration: underline;
  opacity: initial;
}

.primary {
  color: var(--cpd-color-text-action-accent);
}

.overflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
