.caption {
  font-size: 12px;
  line-height: 15px;
}

.micro {
  font-size: 10px;
  line-height: 12px;
}

.regular {
  font-weight: 400;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.link {
  color: var(--links);
}

.link:hover {
  text-decoration: underline;
  opacity: initial;
}

.primary {
  color: var(--accent);
}

.overflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
