/*
Copyright 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.tabContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.tabList {
  overflow-y: auto;
  max-width: 100%;

  /*no scrollbars*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.tabList::-webkit-scrollbar {
  /*no scrollbars*/
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
