/*
Copyright 2022-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only
Please see LICENSE in the repository root for full details.
*/

.callTileSpacer,
.callTile {
  width: 329px;
}

.callTileSpacer {
  height: 0;
}

.callTile {
  height: 95px;
  padding: 12px;
  background-color: var(--cpd-color-bg-subtle-secondary);
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

.callTileLink {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  align-items: center;
}

.avatar {
  flex-shrink: 0;
}

.callInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 16px;
  color: var(--cpd-color-text-primary);
  min-width: 0;
}

.callInfo > * {
  margin-bottom: 0;
}

.facePile {
  margin-top: 8px;
}

.callList {
  display: flex;
  flex-wrap: wrap;
  max-width: calc((329px + 24px) * 3);
  width: calc(100% - 48px);
  gap: 24px;
  padding: 0 24px;
  justify-content: center;
  margin-bottom: 24px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
