/*
Copyright 2022-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  margin-bottom: 54px;
}

.headline {
  margin-bottom: 40px;
}

@media (min-width: 800px) {
  .logo {
    display: none;
  }
}
