/*
Copyright 2022-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.form {
  padding: 0 24px;
  justify-content: center;
  max-width: 409px;
  width: calc(100% - 48px);
  margin-bottom: 72px;
}

.fieldRow {
  margin-bottom: 24px;
}

.fieldRow:last-child {
  margin-bottom: 0;
}

.button {
  padding: 0 24px;
}

.recentCallsTitle {
  margin-bottom: 32px;
}

.notice {
  color: var(--cpd-color-text-secondary);
}
