/*
Copyright 2023, 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.grid {
  contain: layout style;
  position: relative;
  flex-grow: 1;
  margin-inline: var(--inline-content-inset);
  margin-block: var(--cpd-space-4x);
}

.slots {
  position: relative;
}

.slot {
  contain: strict;
}
