/*
Copyright 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.layer {
  block-size: 100%;
}

.spotlight {
  block-size: 100%;
  inline-size: 100%;
}

.pip {
  position: absolute;
  inline-size: 135px;
  block-size: 160px;
  inset: var(--cpd-space-4x);
}

@media (min-width: 600px) {
  .pip {
    inline-size: 180px;
    block-size: 135px;
  }
}

.pip[data-block-alignment="start"] {
  inset-block-end: unset;
}

.pip[data-block-alignment="end"] {
  inset-block-start: unset;
}

.pip[data-inline-alignment="start"] {
  inset-inline-end: unset;
}

.pip[data-inline-alignment="end"] {
  inset-inline-start: unset;
}
