/*
Copyright 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.tile.draggable {
  cursor: grab;
  --draggable-shadow: var(--big-drop-shadow);
}

.tile.draggable:active {
  cursor: grabbing;
}
