.videoTileSettingsModal {
  width: 700px;
  height: 316px;
  display: flex;
}

.content {
  position: relative;
  margin: 27px 34px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.localVolumePercentage {
  width: 3ch;
}

.localVolumeSlider[type="range"] {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: transparent;
  --slider-color: var(--quinary-content);
  --slider-height: 4px;
  --thumb-color: var(--accent);
  --thumb-radious: 100%;
  --thumb-size: 16px;
  --thumb-margin-top: -6px;

  cursor: pointer;
  width: 100%;
}

.localVolumeSlider[type="range"]::-moz-range-track {
  -moz-appearance: none;
  appearance: none;

  background-color: var(--slider-color);
  height: var(--slider-height);
}
.localVolumeSlider[type="range"]::-ms-track {
  -ms-appearance: none;
  appearance: none;

  background-color: var(--slider-color);
  height: var(--slider-height);
}
.localVolumeSlider[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;

  background-color: var(--slider-color);
  height: var(--slider-height);
}

.localVolumeSlider[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;

  height: var(--thumb-size);
  width: var(--thumb-size);
  margin-top: var(--thumb-margin-top);
  border-radius: var(--thumb-radious);
  background: var(--thumb-color);
}
.localVolumeSlider[type="range"]::-ms-thumb {
  -ms-appearance: none;
  appearance: none;

  height: var(--thumb-size);
  width: var(--thumb-size);
  margin-top: var(--thumb-margin-top);
  border-radius: var(--thumb-radious);
  background: var(--thumb-color);
}
.localVolumeSlider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  height: var(--thumb-size);
  width: var(--thumb-size);
  margin-top: var(--thumb-margin-top);
  border-radius: var(--thumb-radious);
  background: var(--thumb-color);
}

.localVolumeSlider[type="range"]::-moz-range-progress {
  -moz-appearance: none;
  appearance: none;

  height: var(--slider-height);
  background: var(--thumb-color);
}
.localVolumeSlider[type="range"]::-ms-fill-lower {
  -moz-appearance: none;
  appearance: none;

  height: var(--slider-height);
  background: var(--thumb-color);
}
