/*
Copyright 2023, 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.modal p {
  text-align: center;
  margin-block-end: var(--cpd-space-8x);
}

.modal button,
.modal a {
  width: 100%;
}

.modal button {
  margin-block-end: var(--cpd-space-6x);
}

.modal a {
  box-sizing: border-box;
}
