.inspector {
  background-color: var(--system);
}

.scrollContainer {
  height: 100%;
  overflow-y: auto;
}

.sequenceDiagramViewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.selectInput {
  align-self: flex-start;
}

.sequenceDiagramViewer :global(.messageText) {
  font-size: var(--font-size-caption);
  fill: var(--primary-content) !important;
  stroke: var(--primary-content) !important;
}
