/*
Copyright 2021-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--cpd-space-6x);
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.wait {
  color: var(--cpd-color-text-primary) !important;
  background-color: var(--cpd-color-bg-canvas-default) !important;
  /* relative colors are only supported on chromium based browsers */
  background-color: rgb(
    from var(--cpd-color-bg-canvas-default) r g b / 0.5
  ) !important;
}
.wait > svg {
  color: var(--cpd-color-theme-primary) !important;
}

@media (max-width: 500px) {
  .join {
    width: 100%;
  }
}

@media (min-height: 650px) {
  .content {
    gap: var(--cpd-space-10x);
  }
}
