.pttButton {
  width: 100vw;
  height: 100vh;
  max-height: 232px;
  max-width: 232px;
  border-radius: 116px;
  color: ##fff;
  border: 6px solid #0dbd8b;
  background-color: #21262C;
  position: relative;
  padding: 0;
}

.talking {
  background-color: #0dbd8b;
  box-shadow: 0px 0px 0px 17px rgba(13, 189, 139, 0.2), 0px 0px 0px 34px rgba(13, 189, 139, 0.2);
}

.error {
  background-color: #FF5B55;
  border-color: #FF5B55;
  box-shadow: 0px 0px 0px 17px rgba(255, 91, 85, 0.2), 0px 0px 0px 34px rgba(255, 91, 85, 0.2);
}