.pttCallView {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-height: 100%;
  position: fixed;
  height: 100%;
  width: 100%;
}

.center {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.actionTip {
  margin-top: 42px;
  margin-bottom: 45px;
  font-size: 17px;
}

.participants {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 67px;
}

.participants > p {
  color: #A9B2BC;
  margin-bottom: 8px;
}

.facepile {
  align-self: center;
}

.talkingInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}

.pttButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.footer > * {
  margin-right: 30px;
}

.footer > :last-child {
  margin-right: 0px;
}