/*
Copyright 2022-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.settingsModal {
  block-size: 550px;
}

.settingsModal p {
  color: var(--cpd-color-text-secondary);
}

.fieldRowText {
  margin-bottom: 0;
}

.volumeSlider {
  margin-top: var(--cpd-space-2x);
}

.volumeSlider > label,
.sliderLabel {
  margin-bottom: var(--cpd-space-1x);
  display: block;
}

.volumeSlider > span {
  max-width: 20em;
}

.volumeSlider > p {
  color: var(--cpd-color-text-secondary);
}

.vadSection {
  margin-block-start: var(--cpd-space-6x);
}

.vadHeading {
  color: var(--cpd-color-text-secondary);
  margin-block: var(--cpd-space-3x) 0;
}

.vadSeparator {
  margin-block: 6px var(--cpd-space-4x);
}

.vadRampLabel {
  display: block;
  margin-block: var(--cpd-space-6x) var(--cpd-space-1x);
}

.vadRampForm {
  margin-top: 0;
}

.vadSpacedSlider {
  margin-block-start: var(--cpd-space-6x);
}

.restoreDefaults {
  margin-top: var(--cpd-space-6x);
}
