.settingsModal {
  width: 774px;
  height: 480px;
}

.tabContainer {
  margin: 27px 16px;
}

.fieldRowText {
  margin-bottom: 0;
}

.label {
  font-weight: 600;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 12px;
}
