/*
Copyright 2022-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.settingsModal {
  block-size: 550px;
}

.settingsModal p {
  color: var(--cpd-color-text-secondary);
}

.fieldRowText {
  margin-bottom: 0;
}

.volumeSlider {
  margin-top: var(--cpd-space-2x);
}

.volumeSlider > label {
  margin-bottom: var(--cpd-space-1x);
  display: block;
}

.volumeSlider > span {
  max-width: 20em;
}

.volumeSlider > p {
  color: var(--cpd-color-text-secondary);
}
