.bar {
  block-size: 64px;
  flex-shrink: 0;
}
/*show the header bar as an overlay over the video. (android)*/
.overlay {
  block-size: 0px;
}
.bar > header {
  position: absolute;
  inset-inline: 0;
  inset-block-start: 0;
  block-size: 64px;
  z-index: var(--call-view-header-footer-layer);
}

.bar svg {
  color: var(--cpd-color-icon-primary);
}

.bar > header > h1 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
