.bar {
  flex-shrink: 0;
  position: relative;
}

/* Pseudo-element for the gradient background */
.bar::before {
  content: "";
  position: absolute;
  inset-inline: 0;
  /* Extend the gradient beyond the bottom of the header for readability */
  inset-block: -24px;
  z-index: var(--call-view-header-footer-layer);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    var(--cpd-color-bg-canvas-default) 100%
  );
}

.bar > header {
  position: sticky;
  inset-inline: 0;
  inset-block-start: 0;
  block-size: 64px;
  z-index: var(--call-view-header-footer-layer);
}

.bar svg path {
  fill: var(--cpd-color-icon-primary);
}

.bar > header > h1 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
