.callTile {
  min-width: 240px;
  height: 94px;
  padding: 12px;
  background-color: var(--bgColor2);
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

.callTileLink {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.avatar,
.copyButtonSpacer {
  flex-shrink: 0;
}

.callInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 16px;
  color: var(--textColor1);
  min-width: 0;
}

.callInfo > * {
  margin-top: 0;
  margin-bottom: 8px;
}

.callInfo > :last-child {
  margin-bottom: 0;
}

.callInfo h5 {
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.callInfo p {
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copyButtonSpacer,
.copyButton {
  width: 16px;
  height: 16px;
}

.copyButton {
  position: absolute;
  top: 12px;
  right: 12px;
}

.callList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
}
