/*
Copyright 2023, 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.banner {
  position: absolute;
  padding: 29px;
  background-color: var(--cpd-color-bg-subtle-primary);
  vertical-align: middle;
  font-size: var(--font-size-body);
  text-align: center;
  z-index: 1;
  top: 76px;
  width: calc(100% - 58px);
}
