.facepile {
  width: 100%;
  position: relative;
}

.facepile.xs {
  height: 24px;
}

.facepile.sm {
  height: 32px;
}

.facepile.md {
  height: 36px;
}

.facepile .avatar {
  position: absolute;
  top: 0;
  border: 1px solid var(--system);
}

.facepile.md .avatar {
  border-width: 2px;
}
