.roomList {
}

.roomListItem {
  margin-bottom: 4px;
  padding: 4px;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: var(--textColor1);
  align-items: center;
}

.roomListItem:hover {
  background-color: rgba(141, 151, 165, 0.2);
  border-radius: 8px;
  color: var(--textColor1);
}

.roomAvatar {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  flex-shrink: 0;
}

.roomAvatar > * {
  position: absolute;
  left: 0;
  color: #fff;
  text-align: center;
  pointer-events: none;
  font-weight: 400;
}

.roomAvatar span {
  font-size: 20.8px;
  width: 32px;
  line-height: 32px;
}

.roomName {
  margin-left: 8px;
  font-size: 14px;
  line-height: 18px;
}
