.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
}

.splitContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.fullWidth {
  background-color: var(--bgColor1);
}

.fullWidth .header {
  background-color: var(--bgColor1);
}

.centered {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 512px;
  min-width: 0;
}

.content {
  flex: 1;
}

.left .content {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}

.left .content form > * {
  margin-top: 0;
  margin-bottom: 24px;
}

.left .content form > :last-child {
  margin-bottom: 0;
}

.left .content hr {
  width: calc(100% - 24px);
  border: none;
  border-top: 1px solid var(--bgColor4);
  color: var(--textColor2);
  overflow: visible;
  text-align: center;
  height: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  margin: 0 12px;
}

.left .content hr:after {
  background-color: var(--bgColor1);
  content: "OR";
  padding: 0 12px;
  position: relative;
  top: -12px;
}

.left .content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 92px;
}

.fieldRow {
  width: 100%;
}

.button {
  height: 40px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}

.left .content form:first-child {
  padding-top: 0;
}

.left .content form:last-child {
  padding-bottom: 40px;
}

.right .content {
  padding: 40px;
}

.right .content h3:first-child {
  margin-top: 0;
}

.authLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.authLinks {
  margin-bottom: 100px;
  font-size: 15px;
}

.authLinks a {
  color: #0dbd8b;
  font-weight: normal;
  text-decoration: none;
}

@media (min-width: 800px) {
  .left {
    background-color: var(--bgColor2);
  }

  .home:not(.fullWidth) .left {
    max-width: 50%;
  }

  .home:not(.fullWidth) .leftNav {
    background-color: var(--bgColor2);
  }

  .splitContainer {
    flex-direction: row;
  }

  .fullWidth .content hr:after,
  .left .content hr:after,
  .fullWidth .header {
    background-color: var(--bgColor2);
  }
}
