.content {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1;
  min-width: 200px;
  width: auto;
  max-width: none;
  padding: 12px;
  background-color: #21262c;
  border-radius: 8px;
  margin-bottom: 20px;
}

.sidebar h5 {
  color: rgb(142, 153, 164);
  font-size: 13px;
  margin: 0 0 8px 0;
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.modal {
  color: white;
  border-radius: 8px;
  padding: 25px 60px;
  max-width: 400px;
  background-color: #21262c;
  flex: 1;
  margin-bottom: 20px;
}

.modal h2 {
  margin: 0 0 20px 0;
}

.info {
  font-size: 13px;
  text-align: center;
}

@media (min-width: 600px) { 
  .sidebar {
    height: 100%;
    overflow-y: auto;
    max-width: 320px;
    margin-bottom: 0;
  }

  .content {
    flex-direction: row;
  }

  .modal {
    margin-bottom: 0;
  }
}