.content {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  flex: 1;
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.modal {
  color: white;
  border-radius: 8px;
  padding: 25px 60px;
  max-width: 400px;
  background-color: #21262c;
  flex: 1;
  margin-bottom: 20px;
}

.modal h2 {
  margin: 0 0 20px 0;
}

.info {
  font-size: 13px;
  text-align: center;
}
