/*
Copyright 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.qrCode img {
  max-width: 100%;
  image-rendering: pixelated;
  border-radius: var(--cpd-space-4x);
}
