.tabContainer {
  width: 100%;
  display: flex;
  flex: 1;
}

.tabList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab {
  max-width: 190px;
  min-width: fit-content;
  height: 32px;
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border: none;
  cursor: pointer;
}

.tab > * {
  color: var(--textColor4);
  margin-right: 16px;
}

.tab svg * {
  fill: var(--textColor4);
}

.tab > :last-child {
  margin-right: 0;
}

.tab.selected {
  background-color: #0dbd8b;
}

.tab.selected * {
  color: #ffffff;
}

.tab.selected svg * {
  fill: #ffffff;
}

.tab.disabled {
}

.tabPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 40px;
  overflow-y: auto;
}
