.tooltip {
  background-color: var(--system);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  color: var(--primary-content);
  border-radius: 8px;
  max-width: 135px;
  width: max-content;
  text-align: center;
}
