.userButton {
  display: flex;
  align-items: center;
  color: var(--textColor1);
  font-weight: 600;
  font-size: 15px;
}

.userButton svg * {
  fill: var(--textColor1);
}

.userButton > * {
  margin-right: 5px;
}

.userButton > :last-child {
  margin-right: 0;
}
