.menuIcon {
  width: 24px;
  height: 24px;
}

.userButton svg * {
  fill: var(--primary-content);
}

.avatar {
  width: 24px;
  height: 24px;
  font-size: 12px;
}

@media (min-width: 800px) {
  .avatar {
    width: 32px;
    height: 32px;
    font-size: 15px;
  }
}
