/*
Copyright 2022-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.avatarInputField {
  position: relative;
  margin-bottom: 8px;
}

.avatar {
  display: block;
}

.fileInput {
  display: none;
}

.edit {
  border-radius: var(--cpd-radius-pill-effect);
  padding: 2px;
  background: var(--cpd-color-bg-canvas-default);
  position: absolute;
  inset-block-end: -2px;
  inset-inline-end: -2px;
}

.edit button {
  min-block-size: 0;
  block-size: var(--cpd-space-7x);
  inline-size: var(--cpd-space-7x);
  padding: var(--cpd-space-1x);
}
