.avatarInputField {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatarContainer {
  position: relative;
  margin-bottom: 8px;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput:focus + .fileInputButton {
  outline: auto;
}

.fileInputButton {
  position: absolute;
  bottom: 11px;
  right: -4px;
  background-color: var(--quinary-content);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.removeButton {
  color: var(--accent);
}
