.slider[type="range"] {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: transparent;

  /* This (slider-color) is 50% transparent to allow the voice activity slider to
     display volumebar behind the slider */
  --slider-color: var(--quinary-content-50);
  --slider-height: 6px;
  --thumb-color: var(--accent);
  --thumb-radius: 100%;
  --thumb-size: 16px;
  --thumb-margin-top: -6px;

  cursor: pointer;
  width: 100%;
}

.slider[type="range"]::-moz-range-track {
  -moz-appearance: none;
  appearance: none;

  background-color: var(--slider-color);
  height: var(--slider-height);
}
.slider[type="range"]::-ms-track {
  -ms-appearance: none;
  appearance: none;

  background-color: var(--slider-color);
  height: var(--slider-height);
}
.slider[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;

  background-color: var(--slider-color);
  height: var(--slider-height);
}

.slider[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;

  height: var(--thumb-size);
  width: var(--thumb-size);
  margin-top: var(--thumb-margin-top);
  border-radius: var(--thumb-radius);
  background: var(--thumb-color);
}
.slider[type="range"]::-ms-thumb {
  -ms-appearance: none;
  appearance: none;

  height: var(--thumb-size);
  width: var(--thumb-size);
  margin-top: var(--thumb-margin-top);
  border-radius: var(--thumb-radius);
  background: var(--thumb-color);
}
.slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  height: var(--thumb-size);
  width: var(--thumb-size);
  margin-top: var(--thumb-margin-top);
  border-radius: var(--thumb-radius);
  background: var(--thumb-color);
}

.slider[type="range"]::-moz-range-progress {
  -moz-appearance: none;
  appearance: none;

  height: var(--slider-height);
  background: var(--thumb-color);
}
.slider[type="range"]::-ms-fill-lower {
  -moz-appearance: none;
  appearance: none;

  height: var(--slider-height);
  background: var(--thumb-color);
}
