.logo {
  max-width: 300px;
  margin: 80px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  min-height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.formContainer h2,
.formContainer h4 {
  margin-top: 0;
}

.formContainer h4 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 0;
}

.formContainer form {
  width: 100%;
  margin-top: 32px;
}

.formContainer button {
  height: 48px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}

.authLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.authLinks {
  margin-bottom: 100px;
  font-size: 15px;
}

.authLinks a {
  color: #0dbd8b;
  text-decoration: none;
  font-weight: normal;
}
