name: Build
on:
  pull_request:
    types:
      - synchronize
      - opened
      - labeled
  push:
    branches: [livekit, full-mesh]
jobs:
  build_element_call:
    uses: ./.github/workflows/build_resuable.yaml
    secrets:
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
      SENTRY_URL: ${{ secrets.SENTRY_URL }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  # build:
  #   name: Build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Yarn cache
  #       uses: actions/setup-node@v4
  #       with:
  #         cache: "yarn"
  #     - name: Install dependencies
  #       run: "yarn install"
  #     - name: Build
  #       run: "yarn run build"
  #       env:
  #         SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
  #         SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
  #         SENTRY_URL: ${{ secrets.SENTRY_URL }}
  #         SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  #         VITE_APP_VERSION: ${{ github.sha }}
  #         NODE_OPTIONS: "--max-old-space-size=4096"
  #     - name: Upload Artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: build
  #         path: dist
  #         # We'll only use this in a triggered job, then we're done with it
  #         retention-days: 1
