name: Build
on:
  pull_request:
    types:
      - synchronize
      - opened
      - labeled
    paths-ignore:
      - '.github/**'
      - 'docs/**'
  push:
    branches: [livekit, full-mesh]
    paths-ignore:
      - '.github/**'
      - 'docs/**'
jobs:
  build_element_call:
    uses: ./.github/workflows/element-call.yaml
    secrets:
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
      SENTRY_URL: ${{ secrets.SENTRY_URL }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

