name: Build & publish images to the package registry for tags

on:
  release:
    types: [published]
  push:
    branches: [livekit]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: Build & publish
    runs-on: ubuntu-latest
    permissions:
      contents: write # required to upload release asset
      packages: write
    steps:
      - name: Get current time
        id: current-time
        run: echo "unix_time=$(date +'%s')" >> $GITHUB_OUTPUT

      - name: Check it out
        uses: actions/checkout@v4

      - name: Log in to container registry
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Yarn cache
        uses: actions/setup-node@v4
        with:
          cache: "yarn"
      - name: Install dependencies
        run: "yarn install"
      - name: Build
        run: "yarn run build"
        env:
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
          SENTRY_URL: ${{ secrets.SENTRY_URL }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          VITE_APP_VERSION: ${{ github.event.release.tag_name || github.sha }}

      - name: Create Tarball
        env:
          TARBALL_VERSION: ${{ github.event.release.tag_name || github.sha }}
        run: |
          tar --numeric-owner --transform "s/dist/element-call-${TARBALL_VERSION}/" -cvzf element-call-${TARBALL_VERSION}.tar.gz dist

      - name: Upload
        uses: actions/upload-artifact@ef09cdac3e2d3e60d8ccadda691f4f1cec5035cb
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          path: "./element-call-*.tar.gz"

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@38b36773831fce8789962056bf155ba063580c34
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=short,event=branch
            type=semver,pattern=v{{version}}
            type=raw,value=latest-ci,enable={{is_default_branch}}
            type=raw,value=latest-ci_${{steps.current-time.outputs.unix_time}},enable={{is_default_branch}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@2b51285047da1547ffb1b2203d8be4c0af6b1f20

      - name: Build and push Docker image
        uses: docker/build-push-action@f8bc7f46003ef0cf98b715743d86c2f1ccd01436
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
